name: Android CI
on: workflow_dispatch
jobs:
  build:
    name: Generate APK
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        ref: '1.34.1'
    - name: set up JDK 11
      uses: actions/setup-java@v5
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assembleRelease

    - uses: ilharp/sign-android-release@v2 # Or use @nightly
      name: Sign app APK
      id: sign_app
      with:
        releaseDir: app/build/outputs/apk/release
        signingKey: ${{ secrets.ANDROID_SIGNING_KEY }}
        keyAlias: ${{ secrets.ANDROID_KEY_ALIAS }}
        keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
        keyPassword: ${{ secrets.ANDROID_KEY_PASSWORD }}
        buildToolsVersion: 36.0.0

    - name: generate apk
      uses: actions/upload-artifact@v5
      with:
        name: busybox_release
        # path: app/build/outputs/apk/release/*.apk
        path: ${{steps.sign_app.outputs.signedFile}}
