name: Android CI
on: workflow_dispatch
jobs:
  build:
    name: Generate APK
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        ref: '1.34.1'
    - name: set up JDK 11
      uses: actions/setup-java@v5
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assembleRelease

    - uses: r0adkll/sign-android-release@v1
      name: Sign app APK
      # ID used to access action output
      id: sign_app
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
      env:
        # override default build-tools version (33.0.0) -- optional
        BUILD_TOOLS_VERSION: "34.0.0"

    - name: generate apk
      uses: actions/upload-artifact@v5
      with:
        name: busybox_release
        # path: app/build/outputs/apk/release/*.apk
        path: ${{steps.sign_app.outputs.signedReleaseFile}}
